block globalVars 
    include ../modules/variables

block variables

block mixins
    include ../modules/mixins
    
<!DOCTYPE html>
html(lang="zxx")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="MinimoBlog or Minimo is a free PSD template. This site is made by Ereburg")
        meta(name="keywords" content="Minimo blog responsive template Ereburg")
        meta(name="author" content="Ereburg")
        link(rel="stylesheet", href="css/style.min.css")
        title= pageTitle
    body.page
        include ../modules/header
    
        block content

        include ../modules/footer
        block scripts
        
    