@use "sass:math";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
}

img {
  image-rendering: pixelated;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  visibility: hidden;
  clip: rect (0 0 0 0);
}

.subscribe--bg-dark,
.footer--bg-dark {
  background-color: $bg-dark;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--regular {
  padding: 0 (math.div(80px, 1060px) * 100%);
}
