.footer__nav
    display: flex
    justify-content: space-between
    padding-top: 40px
    padding-bottom: 45px
    
.footer__menu,
.footer__socials
    display: flex
    list-style-type: none
    
.footer-menu__item:not(:first-child) .footer-menu__link
    margin-left: 10px 
    

.socials__item:not(:last-child) .socials__link
    margin-right: 10px

.footer-menu__link,
.socials__link
    color: $nav-color
