@include for-size(tablet)
    .container--regular
        padding: 0
    .posts__grid
        grid-template-columns: minmax(290px, 1fr)
        column-gap: 0px
        row-gap: 100px
        justify-items: center
    .nav__menu-item
        margin: 0 25px
    .burger
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        &__item
            width: 25px
            height: 3px
            background-color: $text-color
        &__item:nth-child(2)
            margin: 4px 0
            

@include for-size(tablet-portrait-up)
    .burger
        display: none

@include for-size(phone-only)
    .nav__menu
        display: none
    .footer__nav
        flex-direction: column
        justify-content: center
        align-items: center
    .footer__menu
        margin-bottom: 25px