.subscribe
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 70px 15px

.subscribe__title
    @include fontStyle($size: 30px, $lineHeight: auto, $color: $subscribe-color)
    @include tracking(25)
