- var footerLinks = [{link: "#", name: 'Terms and conditions'}, {link: "#", name: 'Privacy'}] 
- var footerSocials = [{link: "#", name: 'Facebook'}, {link: "#", name: 'Twitter'}, {link: "#", name: 'Instagram'}] 

footer.footer.footer--bg-dark
    nav.footer__nav.container
        ul.footer__menu.footer-menu
            for i in footerLinks
                li.footer-menu__item
                    a(href=i.link).footer-menu__link=i.name
        ul.footer__socials.socials
            for i in footerSocials
                li.socials__item
                    a(href=i.link).socials__link=i.name