header.header
    nav.header__nav.nav.container
        h1.nav__title
            a(href='#').brand-name Minimø
        ul.nav__menu
            +navLink('lifestyle.html', 'lifestyle', pageLifestyle)
            +navLink('photodiary.html', 'photodiary', pagePhotodiary)
            +navLink('music.html', 'music', pageMusic)
            +navLink('travel.html', 'travel', pageTravel)